page-onboarding {
    .diag {
        position: absolute;
        z-index:1;
        width:100%;
        top:0;
        height:66%;
    }
    
    ion-icon{
        margin-top:30%;
        font-size:7em;
    }
    
    h2{
        margin-top:80%;
        font-weight:bold;
        font-size:1em;
    }
    
    p{
        width:70%;
        display:block;
        margin:0 auto;
        font-size:.9em;
    }
    
    .swiper-pagination-bullet-active{
       background:#192c47;
    }
    
    .no-scroll .scroll-content{
        overflow: hidden;
   }
    
    .swiper-pagination{
        bottom: 20% !important;
    }
    
    #skip{
        position:absolute;
        width:90%;
        bottom:25px;
        background:none !important;
        text-align:center;
        cursor:pointer;
        z-index:5;
    }
}
