page-welcome {
    #welcome{
        background: color($colors, primary);
        //border-radius: 150px;
    }

    h2{
        text-align: center;
        padding-top: 60px;
        color: antiquewhite;
    }

    .logo{
        margin-top: 40px;
        margin-left: 20px;
        height: 250px;
    }

    .marginTop{
        margin-top: 60px;
    }
    .scroll-bar-indicator{
	display: none;
    }

}
